$primary-color: #25a59a;
$primary-dark-color: #00766c;
$primary-light-color: #63d7cb;
$primary-text-color: black;
$primary-dark-text-color: white;

$secondary-color: #eb6f34;
$secondary-dark-color: #b24002;
$secondary-light-color: #ffa061;
$secondary-text-color: black;
$secondary-dark-text-color: white;

$dark-color: #1D1D1D;

$page-padding: 20px;

// default grid breakpoints from BootStrap
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
)