@use "./common";

/* make customization here */
$theme-colors: (
  "primary": common.$primary-color,
  "secondary": common.$secondary-color,
  "danger": #dc3545,
);

$form-check-input-checked-bg-color: common.$secondary-color;
// $form-check-input-focus-box-shadow: 0 0 0 .25rem common.$secondary-light-color;
$form-check-input-focus-box-shadow: 0;

@import "~bootstrap/scss/bootstrap";