@use "../theme/common";

.CustomButton {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 8px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  transition: background-color .15s ease-in-out;
  font-size: 15px;

  &:hover {
    background-color: rgba(0, 0, 0, .15);
    color: common.$secondary-color !important;
  }

  svg {
    height: 100%;
    width: unset;
    margin-right: 10px;
  }
}

.onlyIcon {
  margin: 6px 2px;
  padding: 6px 6px;

  svg {
    margin: 0;
    transform: scale(0.9);
  }
}

.primaryBtn {
  color: common.$dark-color;

  &:hover {
    color: common.$primary-color !important;
  }
}

.secondaryLightBtn {
  color: white;

  &:hover {
    color: common.$secondary-color !important;
  }
}

.secondaryBtn {
  color: common.$dark-color;

  &:hover {
    color: common.$secondary-color !important;
  }
}
