@use "../theme/common";

.pro-sidebar {
  .pro-sidebar-header {
    a {
      text-decoration: none;
    }

    h1 {
      padding: 24px;
      margin: 0;
      text-align: center;
      font-size: 30px;

      span:first-child {
        color: white;
      }

      span {
        color: common.$primary-color;
      }
    }
    
    h1:hover {
      span:not(:first-child) {
        color: common.$secondary-color;
      }
    }
  }

  .pro-menu-item:hover {
    background-color: #222222;
  }

  .pro-menu-item.active {
    background-color: common.$primary-color;
    .pro-item-content {
      color: black;
    }

    .pro-arrow {
      border-color: black !important;
    }
  }

  .pro-sidebar-footer {
    display: flex;
    height: 6vh;

    p {
      margin: auto;
    }
  }
}

@import '../theme/custom';
@import '~react-pro-sidebar/dist/scss/styles.scss';