@use '../theme/common';

.TaskInputRow {
  padding: 2px 0px 5px 0;
  display: flex;
  align-items: center;
  background-color: common.$primary-color;
  border-radius: .25rem;
  margin: 8px 0;

  .check-box {
    margin: 0;
    width: 40px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .input-container {
    flex-grow: 1;

    & > * {
      margin: 8px 0 12px 0 !important;
    }

    input, textarea {
      font-size: 14px;
    }

    label {
      font-size: 8px;
      display: block;
      margin-right: 10px;
    }

    .deadline-picker {
      border: 1px solid #ced4da;
      border-radius: .25rem;
      padding: 6px 12px;
      text-align: center;
      font-size: 14px;
    }
  }

  .trash-btn-container {
    height: fit-content;
    align-items: center;

    button {
      margin: 0 8px;
    }
  }
}
