.App {
  display: flex;
  position: relative;
  height: 100vh;
  flex-grow: 1;
}

.page-app {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  .top-bar {
    padding: 0.75rem calc(0.75rem + 10px);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .btn-toggleSidebar {
      background-color: #1D1D1D;
      color: white;
      height: 40px;
      width: 40px;
      display: flex;
  
      svg {
        display: block;
        margin: auto;
        transform: scale(1.8);
      }
    }
  }
}

@import "./theme/custom";