@use '../../../theme/common';

.ListCard {
  width: 100%;
  margin: 7px 0;
  display: inline-block;
  border-radius: 10px;
  transition: box-shadow .15s ease-in-out;
  user-select: none;

  &:hover {
    box-shadow: 0 2px 7px #AAAAAA;
  }
  
  .list-card-header {
    background-color: common.$primary-dark-color;
    color: common.$primary-dark-text-color;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px white solid;
    
    h3 {
      margin: 0;
      padding: 15px 15px 10px 15px;
      font-size: 18px;
      font-weight: bold;
    }

    h3.hovered {
      color: common.$dark-color;
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;

      input[type="checkbox"] {
        margin: 0;

        &:hover {
          cursor: pointer;
        }
      }
  
      .input-group-text {
        min-height: 40px;
        background-color: transparent;
        border: 0;
      }
  
      .slot {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .slot.end {
        padding: 0 7px;
      }
    }
  }
  
  .list-card-content {
    padding: 10px;
    background-color: common.$primary-color;
    border-radius: 0 0 10px 10px;
  }
}