@use '../../../theme/common';

.TaskRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px 0 5px;
  border-radius: 5px;
  user-select: none;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &:hover {
    background-color: common.$secondary-color;
  }

  p {
    margin: 0;
  }

  p.task-row-description {
    font-size: 10px;
  }

  input[type="checkbox"] {
    margin: 0;

    &:hover {
      cursor: pointer;
    }
  }

  .input-group-text {
    background-color: transparent;
    border: 0;
    padding: 0;
  }

  .form-check-input:checked {
    background-color: common.$primary-dark-color;
    border-color: common.$primary-dark-color;
  }
}
