@use '../../theme/common';

.LoginPage {
  min-height: 100vh;

  h2 {
    padding: 24px 0;
    height: 36px;
    box-sizing: content-box;
    border-bottom: 1px #999999 solid;
  }

  .container-fluid > * {
    margin: 0 10px;
  }

  .main-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .login-form {
      background-color: rgb(246, 248, 250);
      border: 1px solid #ced4da;
      border-radius: 6px;
      margin-top: 10vh;
      width: 350px;
      padding: 16px;

      button {
        width: 100%;
      }

      input, label {
        font-size: 14px;
      }
    }

    .error-msg {
      width: 350px;
      font-size: 14px;
      margin-top: 8px;
      color: red;
    }

    .sign-up {
      border: 1px solid #ced4da;
      border-radius: 6px;
      font-size: 14px;
      text-align: center;
      padding: 16px;
      width: 350px;
      margin-top: 15px;

      a {
        color: common.$primary-dark-color;

        &:hover {
          color: common.$primary-color;
        }
      }
    }
  }
}
