@use '../../theme/common';

.TaskListEditPage {
  min-height: 100vh;

  .error-text {
    font-size: 14px;
    margin-top: 8px;
    color: red;
    margin: 0 0 5px 0;
  }
  
  .task-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px #999999 solid;
    
    .slot.start {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    
    .slot.end .save-btn {
      background-color: common.$primary-dark-color;
      padding: 8px 10px 8px 15px;
      width: 60px;
      box-sizing: content-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 0;
      border-radius: 5px;
      // color: common.$primary-text-color;
      color: white;
      cursor: pointer;
      transition: all .15s ease-in-out;
      
      &:hover {
        background-color: common.$primary-color;
        color: common.$primary-dark-text-color;
        box-shadow: 0 2px 7px #AAAAAA;
      }
    }
  }
  
  .task-list-content {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    
    .btn-row {
      display: flex;
      padding: 0 0 5px 0;
      
      input[type="checkbox"] {
        margin: 0;
      }
      
      .input-group-text {
        min-height: 40px;
        background-color: white;
        border: 0;
      }

      .backdrop {
        position: relative;
        right: 15px;
        background-color: white;

        button {
          height: 40px;

          svg {
            height: 15px;
          }
        }
      }
      
      .dropdown {
        & > a {
          text-decoration: none;
          display: flex;
          overflow: hidden;
          height: 40px;
        }

        a.dropdown-item {
          font-size: 14px;
        }
  
        button {
          flex-shrink: 0;
        }
      }
    }
    
    form.form {
      flex-grow: 1;
      margin-top: 25px;
      max-width: 800px;
    }

    input.task-list-name {
      font-size: 14px;
    }
    
    .tasks-container {
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      padding: 6px 12px;
    }

    .plus-btn-container {
      text-align: center;
      
      button {
        display: inline-block;
      }
    }

  }

  h2 {
    padding: 24px 0;
    height: 36px;
    box-sizing: content-box;
    margin: 0 0 0 10px;
  }
}
