@use '../../theme/common';
@use 'sass:map';

.TaskBoardPage {
  min-height: 100vh;

  .error-text {
    font-size: 14px;
    margin-top: 8px;
    color: red;
    margin: 0 0 5px 0;
  }

  h2 {
    padding: 24px 0;
    height: 36px;
    box-sizing: content-box;
    border-bottom: 1px #999999 solid;
  }

  .container-fluid > * {
    margin: 0 10px;
  }

  .action-bar {
    display: flex;
    justify-content: space-between;
    margin-top: 7px;

    input[type="checkbox"] {
      margin: 0;

      &:hover {
        cursor: pointer;
      }
    }

    .input-group-text {
      min-height: 40px;
      background-color: white;
      border: 0;
    }

    .slot {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .list-card-container {
    column-count: 4;
    column-gap: 14px;
  }
}

@media screen and (max-width: map.get(common.$grid-breakpoints, 'sm')) {
  .TaskBoardPage .list-card-container {
    column-count: 1;
  }
}

@media screen and (min-width: map.get(common.$grid-breakpoints, 'sm')) and (max-width: map.get(common.$grid-breakpoints, 'md')) {
  .TaskBoardPage .list-card-container {
    column-count: 2;
  }
}

@media screen and (min-width: map.get(common.$grid-breakpoints, 'md')) and (max-width: map.get(common.$grid-breakpoints, 'xxl')) {
  .TaskBoardPage .list-card-container {
    column-count: 3;
  }
}